html {
    font-size: 15px; /* px значит 'пиксели': базовый шрифт будет 10 пикселей в высоту */
    font-family: 'Roboto', sans-serif;
    background-color: #11f0c0;
   }
   
   body {
    width: 600px;
    margin: 0 auto;
    background-color: #8eeec6;
    padding: 0 20px 20px 20px;
    border: border: 2px solid white;
   }
   
   h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 2px 2px 1px white;
   }
   
   img {
    display: block;
    margin: 20 auto;
    width: 400px;
   }

   #my-id {
    margin: 0;
    padding: 20px 0;
    color: #23165a;
   }

   ul {
    margin: 0;
    padding: 20px 0;
    color: #261866;
   }
